.catalog-title {
  margin-top: -34px;
  position: relative;
  height: 158px;
  background-image:
    url("../img/mobile-back-pattern.svg"),
    url("../img/mobile-back-decoration.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.catalog-title__image {
  position: absolute;
  top: 0;
  left: 45px;
  bottom: 13px;
  width: 229px;
  margin: auto;
}
