.contacts {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 3px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__info {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  margin: 37px auto 0;

  @media (min-width: @tablet-width) {
    margin: 47px 0;
  }
}

.contacts__social {
  margin: 22px auto;

  @media (min-width: @tablet-width) {
    margin: 28px 0 0 32px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 30px;
    margin-left: 84px;
  }
}
