.feedback__wrapper {
  text-align: center;
  border-bottom: 1px solid @basic-gray-lightest;
}

.feedback__slogan {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 37px;
  margin: 0;
}

.feedback__text {
  line-height: 24px;
  margin-top: 29px;
  color: @basic-black-light;
}

.feedback__bottom {
  text-align: center;
}

.feedback__button {
  margin: 26px auto 23px;
  padding: 8px 0 0;
  width: 280px;
  min-height: 58px;
  font-size: 21px;
  line-height: 26px;
  background-color: @basic-blue;

  &:hover {
    background-color: @basic-blue-dark;
  }

  &:focus {
    color: @basic-white-lightest-transparent;
    background-color: @basic-blue-darkest;
  }
}

.feedback__legend {
  &--hidden {
    display: none;
  }
}
