.greeting {
  margin-top: -34px;
  position: relative;
  height: 389px;
  background-image:
    url("../img/mobile-back-pattern.svg"),
    url("../img/mobile-welcome.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.greeting__welcome-image {
  position: absolute;
  top: 7px;
  left: 20px;
  bottom: 4px;
  width: 280px;
  margin: auto;
}
