.greeting {
  margin-top: -34px;
  position: relative;
  height: 389px;
  background-color: @basic-gray-light;
  background-image:
    url("../img/mobile-back-pattern.svg"),
    url("../img/mobile-welcome@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto auto, auto 100%;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/mobile-back-pattern.svg"),
      url("../img/mobile-welcome@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    padding-top: 129px;
    margin-top: -54px;
    background-image:
      url("../img/tablet-back-pattern.svg"),
      url("../img/tablet-welcome@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/tablet-back-pattern.svg"),
        url("../img/tablet-welcome@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: -164px;
    background-image:
      url("../img/desktop-back-pattern.svg"),
      url("../img/desktop-welcome@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/desktop-back-pattern.svg"),
        url("../img/desktop-welcome@2x.jpg");
    }
  }
}

.greeting__welcome-image {
  position: absolute;
  top: 7px;
  left: 20px;
  bottom: 4px;
  width: 280px;
  margin: auto;

  @media (min-width: @tablet-width) {
    top: 0;
    left: 154px;
    bottom: 14px;
    width: 461px;
  }

  @media (min-width: @desktop-width) {
    left: 370px;
  }
}
