.impression {
  border: none;
  margin: 0;
  padding-bottom: 17px;
  border-bottom: 1px solid @basic-gray-lightest;

  @media (min-width: @tablet-width) {
    padding-right: 20px;
    min-width: 303px;
    position: relative;
    border-bottom: none;

    &::after {
      content: "";
      position: absolute;
      top: 168px;
      left: 62%;
      height: 1px;
      width: 292px;
      transform: rotate(90deg);
      border-bottom: 1px solid @basic-gray-middle;

      @media (min-width: @desktop-width) {
        left: 78.6%;
      }
    }
  }
}

.impression__legend {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: auto;
  padding-top: 21px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-left: 0;
    padding-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.impression__list {
  list-style: none;
  padding: 0;
  margin-top: -6px;
}

.impression__item {
  margin: 23px 0;
  width: 220px;

  @media (min-width: @tablet-width) {
    margin: 33px 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 3px;
  }

  label {
    position: relative;
    padding-top: 20px;
    left: 77px;
    display: block;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
  }
}

.impression__input {
  & + label {
    &::before {
      content: "";
      position: absolute;
      left: -78px;
      top: 3px;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: @basic-white-gray;

      @media (min-width: @tablet-width) {
        left: -76px;
      }
    }

    &:hover {
      &::before {
        background-color: @basic-gray-lightest;
      }
    }

    &:active {
      &::before {
        background-color: @basic-gray-light;
      }

      &::after {
        opacity: 0.3;
      }
    }
  }

  &:checked + label {
    &::after {
      content: "";
      position: absolute;
      left: -61px;
      top: 20px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: @basic-black-light;

      @media (min-width: @tablet-width) {
        left: -59px;
      }
    }
  }

  &:focus + label {
    &::before {
      outline: 5px auto -webkit-focus-ring-color;
    }
  }
}
