.main-wrapper {
  min-height: 100vh;
  width: @mobile-width;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    box-shadow: 0 5px 15px @shadow-gray-light-transparent;
  }
}
