.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  width: 28px;
  height: 26px;
  top: 16px;
  right: 18px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 27px;
    height: 4px;
    background-color: @basic-white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
}
