.presentation {
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: -64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -28px;
  }
}

.presentation__slogan {
  margin: -2px auto 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 9px;
    font-size: 30px;
    line-height: 26px;
  }
}

.presentation__text {
  margin: 27px auto 33px;
  padding: 0 25px;
  line-height: 24px;
  color: @basic-black-light;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    margin-bottom: 81px;
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 32px;
    margin-bottom: 77px;
  }
}

.presentation__video {
  margin: 33px 0 105px;
}
