.sightseeing {
  border: none;
  margin: 0;
  padding-bottom: 4px;
  border-bottom: 1px solid @basic-gray-lightest;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    position: relative;
    padding-bottom: 4px;

    &::after {
      content: "";
      position: absolute;
      top: 38px;
      left: 61px;
      height: 1px;
      width: 123px;
      border-bottom: 1px solid @basic-gray-middle;

      @media (min-width: @desktop-width) {
        left: 120px;
        width: 280px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 38px;
      left: 585px;
      height: 1px;
      width: 123px;
      border-bottom: 1px solid @basic-gray-middle;

      @media (min-width: @desktop-width) {
        left: 800px;
        width: 280px;
      }
    }
  }
}

.sightseeing__legend {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: auto;
  padding-top: 13px;
  width: 270px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.sightseeing__list {
  list-style: none;
  padding: 0;
  margin-top: -15px;

  @media (min-width: @tablet-width) {
    margin-top: 6px;
    display: grid;
    grid-template-columns: 260px 260px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 9px;
    margin-left: -93px;
    display: grid;
    grid-template-columns: 259px 258px 238px 248px;
  }
}

.sightseeing__item {
  margin: 34px 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 8px;
    margin-left: 96px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 8px;
    margin-left: 96px;
  }

  label {
    position: relative;
    padding-top: 20px;
    left: 77px;
    display: block;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;

    @media (min-width: @tablet-width) {
      width: 200px;
    }
  }
}

.sightseeing__input {
  & + label {
    &::before {
      content: "";
      position: absolute;
      left: -80px;
      top: 2px;
      width: 56px;
      height: 56px;
      border-radius: 7px;
      background-color: @basic-white-gray;

      @media (min-width: @desktop-width) {
        border-radius: 0;
      }
    }

    &:hover {
      &::before {
        background-color: @basic-gray-lightest;
      }
    }

    &:active {
      &::before {
        background-color: @basic-gray-light;
      }

      &::after {
        opacity: 0.3;
      }
    }
  }

  &:checked + label {
    &::after {
      content: "";
      position: absolute;
      left: -61px;
      top: 20px;
      width: 21px;
      height: 21px;
      background-image: url("../img/icons/tick.svg");
      background-size: 23px 23px;
      background-repeat: no-repeat;
      background-position: left top;
    }
  }

  &:focus + label {
    &::before {
      outline: 5px auto -webkit-focus-ring-color;
    }
  }
}
