img {
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.page__body {
  width: inherit;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.main-wrapper {
  min-height: 100vh;
  width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(1, 1, 1, 0.2);
}
.page-header {
  width: inherit;
  display: flex;
  flex-direction: column-reverse;
  background-color: #ffffff;
}
.page-header__logo {
  width: 102px;
  margin: 0 auto;
  z-index: 2;
}
.main-nav {
  position: relative;
}
.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 19px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 24px;
  height: 25px;
}
.main-nav__toggle svg {
  position: absolute;
  top: 1px;
  left: 0;
}
.main-nav__toggle:hover path {
  opacity: 0.6;
}
.main-nav__toggle:focus path {
  opacity: 0.3;
}
.main-nav__list {
  margin: 0;
  padding: 0;
}
.site-list {
  padding: 0;
  list-style: none;
  background-color: #81b3d2;
}
.site-list__item {
  min-height: 55px;
  margin-top: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.site-list__item:first-child {
  margin-top: 0;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
.site-list__item:last-child {
  position: relative;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.site-list__item:last-child::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.site-list__item:hover {
  background-color: #669ec0;
}
.site-list__item:active {
  background-color: #5496bd;
}
.site-list__item a {
  display: flex;
  justify-content: center;
  line-height: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding-top: 11px;
  text-decoration: none;
}
.site-list__item a:focus {
  color: rgba(255, 255, 255, 0.3);
}
.greeting {
  margin-top: -34px;
  position: relative;
  height: 389px;
  width: 320px;
  background-color: #ffffff;
  background-image: url("../img/welcome-pattern.svg"), url("../img/welcome.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
}
.greeting__welcome-image {
  position: absolute;
  top: 10px;
  left: 20px;
  bottom: 4px;
  width: 280px;
  margin: auto;
}
.features {
  position: relative;
  width: 320px;
  z-index: 2;
}
.features__wrapper {
  text-align: center;
  min-height: 242px;
  background-image: url("../img/feature-pattern.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.features__slogan {
  width: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 35px 24px 0;
  margin: 0 auto;
}
.features__text {
  font-weight: 400;
  line-height: 26px;
  margin-top: 29px;
  padding: 0 24px 0;
  color: #333333;
}
.features__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features__additional-list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features__additional-item {
  padding-top: 30px;
}
.features__additional-item:first-child {
  padding-top: 38px;
}
.features__additional-item:last-child {
  padding-bottom: 35px;
}
.reason {
  text-align: center;
  background-color: #eeeeee;
}
.reason .reason__wrapper {
  padding: 30px 15px 0;
  margin: 0 auto;
  min-height: 137px;
  width: 250px;
  box-shadow: inset 0 1px 0 0 #d6d6d6;
}
.reason--accent {
  color: #ffffff;
  background-color: #81b3d2;
}
.reason--accent .reason__wrapper {
  padding: 37px 0 0;
  min-height: 153px;
  width: 290px;
  box-shadow: none;
}
.reason__title {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}
.reason__number {
  display: inline-block;
  margin: 14px auto 0;
  padding: 0;
}
.reason__description {
  margin: 16px auto 0;
  min-height: 43px;
  font-size: 14px;
}
.reason__cropped {
  height: 260px;
  width: 320px;
  overflow: hidden;
}
.reason__image {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.recommendation {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
}
.recommendation::before {
  content: "";
  position: absolute;
  height: 39px;
  width: 39px;
  margin-top: -13px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.recommendation--house::before {
  background-image: url("../img/icons/house.svg");
  background-size: 39px 37px;
}
.recommendation--food::before {
  background-image: url("../img/icons/food.svg");
  background-size: 40px 35px;
}
.recommendation--gift::before {
  background-image: url("../img/icons/gift.svg");
  background-size: 30px 39px;
}
.recommendation__title {
  margin: 0 68px 0;
  min-height: 43px;
  font-size: 18px;
}
.recommendation__description {
  margin: -5px 25px 0 68px;
  min-height: 43px;
  color: #333333;
}
.button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
.hotel-search {
  text-align: center;
  position: relative;
  z-index: 1;
}
.hotel-search__wrapper {
  background-color: var(--basic-white);
  width: 320px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.hotel-search__text {
  margin: 38px auto 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
}
.hotel-search__description {
  margin: 22px auto 0;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.hotel-search__button {
  display: inline-block;
  margin: 26px auto 49px;
  padding: 17px 0 0;
  width: 280px;
  min-height: 42px;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  background-color: #81b3d2;
}
.hotel-search__button:hover {
  background-color: #669ec0;
}
.hotel-search__button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.map__wrapper {
  width: 320px;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.map__wrapper iframe {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.page-footer {
  min-height: 233px;
}
.page-footer .page-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.contacts {
  display: grid;
  grid-template-columns: 1fr;
}
.contacts__info {
  color: #000000;
  justify-self: center;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  margin: 37px auto 0;
}
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 22px auto;
  padding: 13px 0 0;
  width: 150px;
  list-style: none;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  color: #ffffff;
}
.social__link:hover {
  color: #ffffff;
  background-color: #669ec0;
}
.social__link:focus {
  color: rgba(255, 255, 255, 0.2);
  background-color: #5496bd;
}
.social__link:focus path {
  fill: rgba(255, 255, 255, 0.3);
}
.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 196px;
  margin-top: 14px;
  padding: 0;
  justify-self: center;
  line-height: 26px;
}
.copyright:hover path {
  fill: #81b3d2;
}
.copyright:active path {
  fill: rgba(0, 0, 0, 0.3);
}
.copyright__link {
  margin: 2px 0 0 -55px;
}
/*# sourceMappingURL=style.css.map */